.header{
    display:flex;
    justify-content:space-between;
    border: 1px solid black;
    align-items: center;   /* This fixes vertical alignment */
}
.logo{
    height: 130px;
    width: auto;
}
.nav-items{
    font-size: 25px;
    font-weight: bolder;
    padding: 0px 2px;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li{
    padding:10px;
    margin: 10px;

}
.search{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(224, 225, 233, 0.976);
    gap: 3px;
}
.res-cards{
    width: 195px;
    height: 270px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.res-cards:hover{
    border: 1px solid black;
    cursor: pointer;

}

.res-logo{
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.res-info h4{
    margin:5px 0;
    font-size:18px;
}
.res-info h5{
    margin: 2px 0;
    font-size: 14px;
}
.filter-btn{
    background-color: rgb(234, 177, 156);
    color: black;
    cursor: pointer;
    margin: 5px;
    border-color: rgb(22, 22, 24);
    border-radius:8px ;
    transition: background-color 0.3s ease;
}
.filter-btn:hover{
opacity: 0.5;
background-color: cadetblue;

}
.filter-btn:active{
    background-color: darkolivegreen;
    
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: #f0f0f0;
    height:200px;
    width:150px;
    margin: 10px;


}
.btn{
    background-color: rgb(204, 121, 121);
    padding: 0 20px;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    color: white;

}
.search-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search {
  display: flex;
  gap: 10px;
}
.about-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.userClass-card {
  padding: 10px;
  border: 2px solid blue;
  margin-bottom: 10px;
}

.user-card {
  padding: 10px;
  border: 2px solid rgb(230, 122, 21);
  margin-top: 5px;
}